<h1> List of all directors </h1>

<table border="1">
  <!--header row-->
  <tr> 
    <td><b> ID </b></td>
    <td><b> Image </b></td>
    <td><b> Name </b></td>
    <td><b> Dob </b></td>
    <td><b>  </b></td>
  </tr>

  <% @list_of_directors.each do |director| %>
    <tr> 
      <td><%= director.id %></td>
      <td> <img src="<%= director.image %>"> </td>
      <td><%= director.name %></td>
      <td><%= director.dob %></td>
      <td><a href="/directors/<%= director.id %>"> Show details </a></td>
    </tr>
  <% end %>
</table>